body {
    width: 360px;
    margin: 0 auto;
    padding: 0;
    background: #1e1e1e;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

/*h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.content-section {
    box-sizing: border-box;
}

.content-section_theme_dark {
    background: #131313;
    color:#F5F5F5
}

.content-section_theme_bright {
    background: #FEE42A;
    color: #131313;
}

.header {
    display: flex;
    width: 360px;
    height: 132px;
    padding: 24px 20px;
    align-items: flex-start;
    gap: 168px;
    flex-shrink: 0;
}

.logo {
    width: 78.453px;
    height: 15.432px;
    flex-shrink: 0;
}

.header_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.menu-item {
    color: #F5F5F5;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
}

.menu-item_active {
    color: #F5F5F5;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
    text-decoration-line: underline;
}

.cover {
    width: 360px;
    height: 198px;
    flex-shrink: 0;
    background-image: url("/home/voldemar/dev/s-chistogo-lista-main/images/cover.svg");
    padding: 0 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.accent-span {
    font-family: EB Garamond, serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin: auto;
}

.text-center {
    display: block;
    text-align: center;
}

.text-right {
    display: block;
    text-align: right;
}

.intro {
    width: 360px;
    padding: 30px 20px;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.intro__heading {
    color: #ccc;
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: flex-start;
}

.intro__title {
    width: 203px;
    flex-shrink: 0;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.reasons {
    display: inline-flex;
    width: 360px;
    height: 1368px;
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.content-section__subtitle {
    width: 320px;
    font-family: EB Garamond, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;

}

.content-section__introduction {
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin: 0;
}

.content-section__list {
    color: #131313;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
}

.content-section__list-accent {
    font-weight: 700;
}

.how-to {
    width: 360px;
    padding: 0 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 32px;
}

.card {
    margin-top: 32px;
    display: flex;
    width: 279px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 30px;
}

.card__author-photo {
    width: 100px;
    height: 100px;
}

.card__author-name {
    width: 163px;
    height: 20px;
    color: #F5F5F5;
    font-weight: 700;
    line-height: 135%;
}

.card__title {
    margin: 0;
    font-family: EB Garamond, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 29.7px */
}

.card__text {
    color: #F5F5F5;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
}

.card_theme_dark {
    background: #343434;
}

.card_theme_bright {
    color: #131313;
    background: #FEE42A;
}

.footer {

    display: flex;
    width: 360px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #FEE42A;
}

.footer__copy{
    font-size: 16px;
    line-height: 135%;
}

.footer__links {
    color: #F5F5F5;
    font-size: 14px;
    line-height: 125%;
}
